<!--<app-day8-error-handling-lvl1></app-day8-error-handling-lvl1>-->
<!--<app-day8-error-handling-lvl2></app-day8-error-handling-lvl2>-->
<!--<app-day8-error-handling-lvl3></app-day8-error-handling-lvl3>-->


<!--day 9:  Routing demo I.
<app-day9-routing-demo></app-day9-routing-demo>
-->

<!--day 10:  Routing demo II.-->
<!--<app-day10-routing-demo></app-day10-routing-demo>-->

<!--day 11:  Routing demo III.-->
<!--<app-day11-routing-demo></app-day11-routing-demo>-->

<!--day 12:  Forms: Template driven I..-->
<!--
<app-day12-forms1></app-day12-forms1>
-->

<!--day 14:  Forms: Reactive form I.-->
<!--
<app-day14-reactive-forms1></app-day14-reactive-forms1>
-->
<!--day 15:  Forms: Reactive form II.-->
<!--<app-day15-reactive-forms2></app-day15-reactive-forms2>-->

<!--day 16:  Forms: Reactive form III.-->
<!--
<app-day16-reactive-forms-3></app-day16-reactive-forms-3>
-->

<!--day 17:  Forms: Reactive form IV.-->
<!--
<app-day17-reactive-forms4></app-day17-reactive-forms4>
-->
<!--day 18: Advanced Components - Content projection-->

<app-day18-advanced-comps1></app-day18-advanced-comps1>

