<h1>Content projection demo</h1>


<ol>
  <li>Simple content projection into a component (ng-content)
    <ol>
      <li>project single item - ng-content slot</li>
      <li>project multiple items - ng-content named slots</li>
      <li>project single component</li>
    </ol>
  </li>
  <li>@ContentChild() decorator - how to reach projected component's instance</li>
  <li>@ContentChildren() decorator - how to reach projected components' instances</li>
</ol>

<app-form (submitData)="loginUser($event)">
  <h3>Login</h3>
  <button class="btn" type="submit">Login</button>
  <app-auth-remember (checked)="onRememberChecked($event)"></app-auth-remember>
</app-form>

<app-form (submitData)="createUser($event)">
  <h3>Registration</h3>
  <button  class="btn" type="submit">Register</button>
</app-form>


