:host {
  display: inline-block;
  width: 200px;
  padding: 16px;
  border: 1px solid lightgrey;

  label, input, button {
    display: block;
  }
  button {
    margin-top: 32px;
  }


}
app-auth-remember {
  margin-top: 20px;
  margin-bottom: 20px;
}
